@layer bulma, primereact;
@import "bulma/css/bulma.css" layer(bulma);

.border-1{
    border: 1px solid var(--bulma-border);
}

.border-2{
    border: 2px solid var(--bulma-border);
}

.border-3{
    border: 3px solid var(--bulma-border);
}

.h-fullscreen{
    height: 100vh;
}

.w-fullscreen{
    width: 100vw;
}

.h-full{
    height: 100%;
}

.w-full{
    width: 100%;
}